.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #003fbc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(80, 18, 18);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.table-dark-coinsturn {
  --bs-table-bg: #000000;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #1c2025;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #25282F;
}

.tokenSpecificTableTabCoinsContainer {
  display: flex;
  border-style: solid;
  border-color: #25282F;
  border-width: 1px;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 20px;
  width: px;
}

.tokenSpecificRightContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
  align-content: flex-start;
  width: 758px;
}

.tokenSpecificTableCoinsContainerMob {
  display: flex;
  overflow: hidden;
  padding-top: 20px;
  width: 388px;
}

.total-supply {
  width: 100%;
  display: flex;
  padding: 0px!important;
  justify-content: flex-start;
}

@media (max-width: 750px) {
  .hide-content {
    display: none;
  }
}

@media (min-width: 750px) {
  .show-content {
    display: none;
  }
}